.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.formula-editor {
  border: solid grey 1px;
}

.formula-editor.unfocused{
  background-color: #eee;
}

.math-cursor{
  color: blue;
}

.formula-editor.focused .math-cursor {
  animation: blink 1s infinite;
}

.formula-editor.unfocused .math-cursor {
  opacity: 0.5;
}

@keyframes blink {
  50% { opacity: 0; }
}

.math-node{
  color: black;
  cursor: pointer;
}

.formula-editor .math-selected{
  color: red;
}