:root {
  --bg-color: white;
  --unfocused-bg-color:#eee;
  --text-color: black;
  --cursor-color:blue;
  --selection-color:red;
}

.dark {
    --bg-color: black;
    --unfocused-bg-color:#333;
    --text-color: white;
    --cursor-color:cyan;
    --selection-color:orange;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}

.centeredcontent{
  text-align: center;
}

button{
  color: var(--text-color);
  background-color: var(--unfocused-bg-color);
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
}

button mjx-container[jax="CHTML"][display="true"]{
  margin: 0;
}

.formula-editor {
  border: solid grey 1px;
  font-size: larger;
  margin: 1em;
}

.formula-editor.unfocused{
  background-color: var(--unfocused-bg-color);
}

.formula-editor.focused{
  background-color: var(--bg-color);
}

.math-cursor{
  color: var(--cursor-color);
}

.formula-editor.focused .math-cursor {
  animation: blink 1s infinite;
}

.formula-editor.unfocused .math-cursor {
  opacity: 0.5;
}

@keyframes blink {
  50% { opacity: 0; }
}

.math-node{
  cursor: pointer;
}

.formula-editor .math-selected{
  color: var(--selection-color);
}

.virtual-keyboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.virtual-keyboard h3{
  margin: 0.8em;
}

.virtual-keyboard > div{
  max-width: 30rem;
}

.virtual-keyboard .key-row{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.virtual-keyboard button{
  font-size: large;
  min-width: 2.2rem;
  height: 2.2rem;
  margin: 0;
  padding: 0.3em 0.5em;
}

.virtual-keyboard button.larger-button{
  height: 2.7rem;
}

.virtual-keyboard .small-text{
  font-size:small;
}

.virtual-keyboard .x-small-text{
  font-size:x-small;
}