html {
  text-align: center;
  background-color: #ddd;
}

.formula-editor {
  border: solid grey 1px;
  font-size: larger;
}

.formula-editor.unfocused{
  background-color: #eee;
}

.formula-editor.focused{
  background-color: white;
}

.math-cursor{
  color: blue;
}

.formula-editor.focused .math-cursor {
  animation: blink 1s infinite;
}

.formula-editor.unfocused .math-cursor {
  opacity: 0.5;
}

@keyframes blink {
  50% { opacity: 0; }
}

.math-node{
  color: black;
  cursor: pointer;
}

.formula-editor .math-selected{
  color: red;
}